<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Facture</title>

    <style>
    .invoice-box {
        margin: auto;
        padding: 0px;
        border: 1px solid #eee;
        font-size: 18px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: left;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
        border: 1px solid #ddd;
    }

    .invoice-box table tr.item td{
        border: 1px solid #ddd;
    }


    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }

    body {
        padding-bottom: 16px;
    }

    table {
        table-layout:fixed;
    }

    table td { overflow: hidden; }

    .nobreak {
        page-break-inside: avoid;
    }

    .break-before {
        page-break-before: always;
    }

    .break-after {
        page-break-after: always;
    }

    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="6">
                    <table>
                        <tr>
                            <td class="title" colspan="1">
                                <img src="{{ include('logo-lys.twig') }}" style="width:100%; max-width:75px;">
                            </td>
                            <td colspan="9"><b>Lys de Provence</b><br>
                                Commande # {{ id }}<br>
                                Date: {{ date | date("d/m/Y") }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for commande in commandes %}
            <div>
                <table cellpadding="0" cellspacing="0">
                    <tr class="heading">
                        <td colspan="2">{{ commande.client.getNom() | upper }}</td>
                        <td colspan="4">Commentaire</td>
                    </tr>

                    <tr class="details">
                        <td colspan="2" style="text-align:center;">
                            {{ commande.client.getAdresse() }}<br>
                            {{ commande.client.getCodePostal() }}<br>
                            {{ commande.client.getVille() }}<br>
                        </td>
                        <td colspan="4"><b>{{ commande.description }}</b></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" style="table-layout:fixed;">
                    <colgroup>
                        <col style="width: 5%;"/>
                        <col style="width: 20%;"/>
                        <col style="width: 60%;"/>
                        <col style="width: 5%;"/>
                    </colgroup>
                    <tr class="heading">
                        <td>Qte.</td>
                        <td>Format</td>
                        <td colspan="2">Détails</td>
                        <td>Prix</td>
                    </tr>
                    {% for produit in commande.produits %}
                        {% if loop.index is divisible by (11) %}
                        </table>
                        <div class="break-before"></div>
                        <table cellpadding="0" cellspacing="0" style="table-layout:fixed;">
                            <colgroup>
                                <col style="width: 5%;"/>
                                <col style="width: 20%;"/>
                                <col style="width: 60%;"/>
                                <col style="width: 5%;"/>
                            </colgroup>
                        {% endif %}
                        <tr class="item" class="nobreak">
                            <td colspan="2"style="margin:0;padding:0;">
                                <table cellpadding="0" cellspacing="0">
                                    <col style="width: 5%;"/>
                                    <col style="width: 22%;"/>
                                    <tr>
                                        <td style="border-left:0;border-top:0;border-right:0;">{{ produit.quantite }}</td>
                                        <td style="border-right:0;border-top:0;">{{ produit.format }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="border-left:0;border-right:0;border-bottom:0;border-top:0;"><i style="font-size: 8px!important;">{{ commande.client.getNom() }}</i></td>
                                    </tr>
                                </table>
                            </td>

                            <td colspan="2"style="margin:0;padding:0;">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="border-left:0;border-top:0;border-right:0;"><b>{{ produit.ml }}</b></td>
                                        <td style="border-right:0;border-top:0;"><b>{{ produit.mlFinition }}</b></td>
                                    </tr>
                                    <tr>
                                        <td style="border:0;"><b>{{ produit.moulure }}</b></td>
                                        <td style="border-top:0;border-right:0;border-bottom:0;"><b>{{ produit.moulureFinition }}</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td>{{ produit.prix }}</td>
                            <tr><td colspan="5" style="padding-bottom:10px;"></td></tr>
                        </tr>

                    {% endfor %}
                </table>
            </div>
            {% if not loop.last %}
            <div class="break-before"></div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>